.container {
  width: 300px;
  margin: 250px auto;
  position: relative;
  text-align: center;
}
.box {
  width: 300px;
  background: #f66;
  position: absolute;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.box h1 {
  color: #fff;
  margin-bottom: 30px;
}
.box2,
.box3 {
  display: none;
}
.btn {
  background: #fff;
  border: 0 none;
  color: #f66;
  padding: 10px 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  outline: none;
  margin: 0 10px;
}
